/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Orkney";
  src: url("/fonts/orkney/orkney-medium-webfont.eot");
  src: url("/fonts/orkney/orkney-medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/orkney/orkney-medium-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Orkney";
  src: url("/fonts/orkney/orkney-regular-webfont.eot");
  src: url("/fonts/orkney/orkney-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/orkney/orkney-regular-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Orkney";
  src: url("/fonts/orkney/orkney-light-webfont.eot");
  src: url("/fonts/orkney/orkney-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/orkney/orkney-light-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Orkney";
  src: local("Orkney") url("/fonts/orkney/orkney-bold-webfont.eot");
  src: url("/fonts/orkney/orkney-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/orkney/orkney-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

html,
body {
  background-color: #f9fafa;
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  --phage-dark: #222a33;
  --phage-light: #f9fafa;
  font-family: "Orkney";
  color: var(--phage-dark);
  --diff: calc(var(--max-size) - var(--min-size));
  --responsive: calc(
    (var(--min-size) * 1px) + var(--diff) * ((100vw - 320px) / (1920 - 320))
  ); /* Ranges from 421px to 1199px*/
  box-sizing: border-box;
}
h1 {
  font-family: "Montserrat";
  font-weight: 400;
  --max-size: 69;
  --min-size: 45;
  font-size: var(--responsive);
  line-height: 150%;
  opacity: 1;
  color: var(--phage-dark);
  letter-spacing: 0.05em;
}

.nav-text {
  font-family: "Montserrat";
  --max-size: 16;
  --min-size: 16;
  font-size: var(--responsive);
  font-weight: 600;
  font-style: normal;
}

.text {
  font-family: "Orkney";
  --max-size: 16;
  --min-size: 12;
  font-size: var(--responsive);
  font-style: normal;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

input:focus-within ~ label {
  @apply text-phage-blue;
}

.outline input:focus-within ~ label,
.outline input:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-4 z-0 ml-3 px-1 py-0;
}

textarea:focus-within ~ label {
  @apply text-phage-blue;
}
.outline textarea:focus-within ~ label,
.outline textarea:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-4 z-0 ml-3 px-1 py-0;
}
