@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: 'orkney';
  src: url('./fonts/orkney-medium-webfont.eot');
  src: url('./fonts/orkney-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/orkney-medium-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'orkney';
  src: url('./fonts/orkney-regular-webfont.eot');
  src: url('./fonts/orkney-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/orkney-regular-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'orkney';
  src: url('./fonts/orkney-light-webfont.eot');
  src: url('./fonts/orkney-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/orkney-light-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;

}

@font-face {
  font-family: 'orkney';
  src: local('Orkney') url('./fonts/orkney-bold-webfont.eot');
  src: url('./fonts/orkney-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/orkney-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
* {
  --phage-dark: #313F52;
  --phage-light: #f1f2f3;
  font-family: 'orkney';
  background-color: var(--phage-light);
  color: var(--phage-dark);
  --diff: calc(var(--max-size) - var(--min-size));
  --responsive: calc((var(--min-size) * 1px) + var(--diff) * ((100vw - 320px) / (1920 - 320))); /* Ranges from 421px to 1199px*/
}

/* Navbar */
.nav-text {
  font-family: 'orkney';
  font-size: 1em;
  font-weight: 400;
  font-style: normal;

}

.nav-brand{
  max-height: 25px ;
}

.social-links{
  width: 100%;
  max-width: 32px ;
  height: auto;
}


/* body {
  font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
} */